.approve{
  background: #2fdf75 !important;
  color: white !important;
}
.reject{
  background: red !important;
  color: white !important;
}
.cancel{
  background: orangered !important;
  color: white !important;
}
.expire{
background: yellow !important;
color: black !important;
}
.wait{
  background: lightblue !important;
  color: white !important;
}

.yet_approve{
  background: #3880ff !important;
}
.hold{
  background: yellow !important;
  color: black !important;
}
